<header>
    <nav class="header-nav"
      <a class="header-title" href="/">Porters</a>
      <ul>
        <li class="header-link"></li> <a href="/authors">Authors</a></li>
        <li class="header-link"></li> <a href="/authors/new">Add Author</a></li>
        <li class="header-link"></li> <a href="/books">Books</a></li>
        <li class="header-link"></li> <a href="/books/new">Add Book</a></li>
      </ul>
    </nav>
  </header>