<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link id="main-css" rel="stylesheet" href="/stylesheets/main.css">
  <title>Porters</title>
</head>
<body>
  <div class="container">
    <h1></h1>
    
    <div class="inner-container">
      <%- include('../partials/errorMessage.ejs') %>
      <%- body %>
    </div>
  </div>
</body>
</html>