<h1>Login</h1>

<form action="/login" method="GET">
  <div>
    <label for="name">Name</label>
    <input type="name" id="name" name="name" required>
  </div>
  <div>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" required>
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required>
  </div>
  <button type="submit">Login</button>
</form>
<a href="/">Register a User</a>