:root {
--color-base-hue: 200;
--color-del-hue-offset: 180;
--color-del-hue: calc(var(var(--color-base-hue) - var(color-del-hue-offset)));
--color-background-dark: hsl(200, 100%, 8%);
--color-background-light: hsl(200, 100%, 16%);
--color-text-light: hsl(200, 100%, 87%);


}
