<%- include('../partials/header.ejs') %>
<h2 class="page-header">Edit Author</h2>
<form action="/authors/<%= Author.id %>/edit" method="POST">
  <%- include('_form_fields') %>
  <div class="form-row form-row-end btn-row">
    <a class="btn btn-del" href="/authors/<%= Author.id %>">Cancel</a>
    <button class="btn btn-primary" type="submit">Update</button>
  </div>
</form>